body {
  display: grid;
  justify-content: center;
  align-content: center;
}

.ui.container.center {
  display: flex;
  display: grid;
  justify-content: center;
  align-content: center;
}
